img {
  width: 45%;
  margin: 0 15px 0 15px;
}

.faded {
  opacity: 0.5;
}

.faded2 img {
  width: 22%;
}

.faded2 {
  font-size: 11px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.matchup-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px;
}

.card-wrap {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 570px;
}
    

mat-card {
  margin: 20px;
}

.center {
  text-align: center;
}

mat-card p {
  font-size: 14px;
}

.vs {
  font-size: 20px;
}

.goalies-inline {
  display: inline-block;
  width: 45%;
  font-size: 12px;
}

.game-info img {
  width: 10%; 
  margin: 0 5px 0 5px;
}

.fixed-button {
  position: fixed;
  right: 12px;
  bottom: 12px;
}

@media only screen and (max-width: 600px) {

  .card-wrap {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 315px;
  }

  .material-icons.md-48 { font-size: 38px; }

  .date-header {
    font-size: 22px;
  }


}