.fixed-button {
  position: fixed;
  right: 12px;
  bottom: 12px;
}

.green-dot {
  height: 7px; 
  width: 7px; 
  background:#2ecc71; 
  border-radius: 50%; 
  display: inline-block;
}

.stat-block {
  background: #6740B4;
  color: #fff;
  border-radius: 10px;
  padding: 6px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width: 600px) {

  .card-wrap {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 315px;
  }

  .material-icons.md-48 { font-size: 38px; }

  .date-header {
    font-size: 22px;
  }


}