.mat-tab-link {
    color: #fff;
}

.mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: none!important;
}

.docs-footer {
    margin-top: 40px;
    padding: 12px;
    font-size: 12px;
    background: #663fb4;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
}

.docs-footer div {
  display: inline-block;
  flex-grow: 1;
  width: 33%;  
  color: #fff; 
}

.docs-footer .docs-footer-links {
  text-align: center;
}

.docs-footer .docs-footer-links a {
  color: #fff;
  text-decoration: none;
}

.docs-footer .docs-footer-links li{
  cursor: pointer;
}

.docs-footer .docs-footer-links a:hover {
  opacity: 0.8;
}




.docs-footer-list[_ngcontent-c10] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 8px;

}
