<mat-toolbar color="primary">NHL Starting Goalies 
  <span style="flex: 1 1 auto;"></span>
  <nav mat-tab-nav-bar fxHide [fxHide.gt-xs]="isVisibleOnDesktop()">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<button mat-button [matMenuTriggerFor]="menu" fxHide [fxHide.xs]="isVisibleOnMobile()">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['starting-goalies/yesterday']">Yesterday</button>
  <button mat-menu-item [routerLink]="['starting-goalies']">Today</button>
  <button mat-menu-item [routerLink]="['starting-goalies/tomorrow']">Tomorrow</button>
</mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>

  <footer class="docs-footer">
    <div class="docs-footer-list">
      <div class="footer-logo">
        <div class="logo-container">
          <ul>
            <li>
            <a href="https://twitter.com/intent/follow?screen_name=goaliesstarting&commit=Log%20in%20and%20follow%20%40goaliesstarting&session%5Busername_or_email%5D=goaliesstarting&tw_p=followbutton&region=follow_link"> <span class="logo-initials"> &nbsp;NHL&nbsp; </span> <br> <span class="logo-initials-bottom">SG</span> </a>
          </li>
        </ul>     
        </div> 
       <!--  <div style="max-width: 100px;">
          <span style="font-family: Roboto; font-size: 10px; font-weight: 500;">I &hearts; Angular</span>
        </div> -->
      
    </div>
      <div class="docs-footer-links"><ul><li matTooltip="Ian Poston, a web developer from Los Angeles." [matTooltipPosition]="position"><a href="https://twitter.com/intent/follow?screen_name=ianposton&commit=Log%20in%20and%20follow%20%40ianposton&session%5Busername_or_email%5D=ianposton&tw_p=followbutton&region=follow_link">Who Built This?</a></li></ul></div>
      <div class="docs-footer-links" ><ul fxHide [fxHide.gt-xs]="isVisibleOnDesktop()"><li matTooltip="I love to code and work with sports API's. In this app I am using angular4 with the MySportsFeeds API. I &hearts; Angular and I &hearts; Hockey." [matTooltipPosition]="position">About</li></ul><ul fxHide [fxHide.xs]="isVisibleOnMobile()" style="font-size: 9px; max-width: 80px; text-align: justify;"><li>About: I love to code and work with sports API's. In this app I am using angular4 with the MySportsFeeds API.</li></ul></div>
    </div>
  </footer>
