<mat-toolbar color="primary">NHL Starting Goalies 
  <span style="flex: 1 1 auto;"></span>
  <nav mat-tab-nav-bar fxHide [fxHide.gt-xs]="isVisibleOnDesktop()">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<button mat-button [matMenuTriggerFor]="menu" fxHide [fxHide.xs]="isVisibleOnMobile()">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['starting-goalies/yesterday']">Yesterday</button>
  <button mat-menu-item [routerLink]="['starting-goalies']">Today</button>
  <button mat-menu-item [routerLink]="['starting-goalies/tomorrow']">Tomorrow</button>
</mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>

 <!--  <footer class="docs-footer">
    <div class="docs-footer-list">
      <div class="footer-logo"><span style="border-bottom: 2px solid #fff; line-height: 1.5em;"> NHL </span> <br> &nbsp;SG</div>
      <div class="docs-footer-links"><ul><li>Who Built This?</li></ul></div>
      <div class="docs-footer-copyright"><ul><li>About</li></ul></div>
    </div>
  </footer> -->
